{% extends "base.html" %}
{% block content %}
	{% autoescape xhtml_escape %}
    {% autoescape None %}

            <div align="center">
                <div class="row">
                	<div class="col-md-5 col-md-offset-1">
                        <form role="form" id="UrlForm" method='POST' action=''>
                            {% raw xsrf_form_html() %}
                            <div class="well well-md">
                                <div class="row">
                                    <h3 align="center">Search A Node or relationship in existing graph</h3>
                                    <div class="form-group">
                                        <input type="text" name="node" value="" id="node" placeholder="Enter a text to search" class="form-control input-md"/>
                                        <br />
                                        <input type="submit" name="searchNodeAndRelation" value="Search Node & Relationship" id="searchNodeAndRelation" class="btn btn-default"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% if existing_nodes %}
                        	<div class="well well-md">
                        		<h3 align="center">Existing Nodes</h3>
                        		{% for existing_node in existing_nodes %}
                        			<font size="3"><span class="label label-success">{{ existing_node }}&nbsp;</span></font>
                        		{% end %}
                            </div>
                        {% end %}
                        {% if existing_relations %}
                        	<div class="well well-md">
                        		<h3 align="center">Existing Relations</h3>
                        		{% for existing_relation in existing_relations %}
                        			<font size="3"><span class="label label-primary">{{ existing_relation }}&nbsp;</span></font>
                        		{% end %}
                            </div>
                        {% end %}
                    </div>
                    <div class="col-md-5">
                        <form role="form" id="UrlForm" method='POST' action=''>
                            {% raw xsrf_form_html() %}
                            <div class="well well-md">
                                <div class="row">
                                    <h3 align="center">Create A Node in existing graph</h3>
                                    <div class="form-group">
                                    	<input type="text" name="new_nodes_txt" value="" id="new_nodes_txt" placeholder="Enter a Node name" class="form-control input-md" required/><br />
		                                <input type="text" name="url" value="" id="url" placeholder="Enter a URL to Knowledge Base" class="form-control input-md" required/>
                                        <br />
                                        {% if error_message %}
                                        	<font style="color:red">{{error_message}}</font>
                                        {% end %}<br />
                                        <input type="submit" name="addNodeAndRelations" value="Add Node & Parse" id="addNodeAndRelations" class="btn btn-default"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if show_messages %}
	                    <div class="col-md-12">
	                    	<div class="well well-md">
	                    		{% for show_message in show_messages %}
	                    			{{show_message}}<br />
	                    		{% end %}
	                        </div>
	                    </div>
                    {% end %}
                </div>
            </div>
{% end %}