{% extends "base.html" %}
{% block content %}

<!-- <form action="/auth/logout/" method="post" id="login_form">
    <div id="form_btn">
        <input id="signout-btn" class="btn btn-blue" type="submit" value="Sign Out" tabindex="3">
    </div>
</form> -->


<div class="col-md-6"  align="center">
	<h4>AIRA - Your virtual assistant reaches out to all your seekers, determines the most productive answer – sharing what it has learned from the queries, such as the best locality to search or best property to visit. AIRA’s AI technology helps real estate seekers engage and nurture queries, increase lead conversion and increase closing opportunities.</h4><br />
</div>
<div class="col-md-6 video-wrap">
	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/vIAV54-sYJE" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{% end %}