            
            <style type="text/css">
                .avatar {
                    width: 100%;
                    margin: auto;
                    width: 65px;
                    border-radius: 100px;
                    height: 65px;
                    background: #448ed3 ;
                    position: relative;
                    bottom: 15px;
                    left:-200px;
                }
                .avatar img {
                    width: 55px;
                    height: 55px;
                    border-radius: 100px;
                    margin: auto;
                    border:3px solid #fff;
                    display: block;
                }
            </style>
            <div class="navbar-header">
                <a class="navbar-brand" href="/" alt="AIRA">
                    AIRA - Artificial Intelligent Real estate Agent
                        <div class="avatar">
                            <img src="https://cdn1.iconfinder.com/data/icons/robotics/128/_Glasses-128.png">
                        </div>
                    
                </a>
            </div>